<header>
    <div class="logocontainer">
        <img class="logo" src="../static/iconoperropng.png" alt="Silueta chachorro">
        <h1> Juan Martin Aguilar</h1>
    </div>
    <nav>
        <ul class="menu">
            <li><a class="active" href="https://main--chipper-raindrop-17df73.netlify.app/">Inicio</a></li>
            <li><a href="/show">Productos</a></li>
            <li><a href="https://main--chipper-raindrop-17df73.netlify.app/#servicios">Servicios</a></li>
            <li><a href="/register">Registrarse</a></li>
            <li><a href="/">Login</a></li>
        </ul>
    </nav>
</header>