<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<header>
    <div class="logocontainer">
        <img class="logo" src="../static/iconoperropng.png" alt="Silueta chachorro">
        <h1> Juan Martin Aguilar</h1>
    </div>
    <nav>
        <ul class="menu">
            <li><a class="active" href="https://main--chipper-raindrop-17df73.netlify.app/">Inicio</a></li>
            <li><a href="/admin/dashboard">Panel de Productos</a></li>
            <li><a href="/show">Productos</a></li>
            <li><a href="/logout"><i class='bx bx-log-out'></i></a></li>
        </ul>
    </nav>
</header>
